:root {
    --primary: #182951;
    --light: #f5f7fb;
    --text: #1a1a1a;
    }

    @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
    
    body {
    color: var(--text);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
   
    font-family: consolas;
    }

    
    /* Navbar */
    .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid #eee;
    
    }
    
    .logo {
    font-weight: bold;
    color: var(--primary);
    font-size: 50px;
    }
    
    .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 15px;
    }
    
    .nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: bolder;
    
    }
    
    /* Hero */
    .hero {
        background-image: src="images/Wireframe - 1.png";
    display: flex;
    size: 1500;
    padding: 80px 60px;
    
    }
    
    /*.hero-text {
    margin:100;;
    }*/
    
    .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 100px;
    }
    
    .hero-text p {
    margin-bottom: 30px;
    }
    
    .primary-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    }
    
    /* Mockups */
    
    .laptop-mockup img{
    width: 420px;
    transform: scale(1.2) translateX(40px);
    }
    
    
    /* Pain Points */

    .card{
        margin: 0 auto;
    }
    .pain-points {
    background: var(--light);
    padding: 80px 60px;
    margin: 0 auto;
    }
    
    .pain-points h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    }
    
    .container{
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    
    .container .card{
        position: relative;
        cursor: pointer;
    }
    
    .container .card .face{
        width: 300px;
        height: 200px;
        transition: 0.5s;
    }
    
    .container .card .face.face1{
        position: relative;
        background: #10192e;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }
    
    .container .card:hover .face.face1{
        background: #95a1ef;
        transform: translateY(0);
    }
    
    .container .card .face.face1 .content{
        opacity: 0.2;
        transition: 0.5s;
    }
    
    .container .card:hover .face.face1 .content{
        opacity: 1;
    }
    
    .container .card .face.face1 .content img{
        max-width: 100px;
    }
    
    .container .card .face.face1 .content h3{
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
    }
    
    .container .card .face.face2{
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }
    
    .container .card:hover .face.face2{
        transform: translateY(0);
    }
    
    .container .card .face.face2 .content p{
        margin: 0;
        padding: 0;
    }
    
    .container .card .face.face2 .content a{
        margin: 15px 0 0;
        display:  inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 1px solid #333;
    }
    
    .container .card .face.face2 .content a:hover{
        background: #333;
        color: #fff;
    }
    
    /* Roadmap */
    .roadmap {
    padding: 80px 60px;
    
    }
    
    .steps {
    display: flex;
    gap: 30px;
    }
    
    /* Comparison */

    
    .comparison {
    padding: 80px 60px;
    
    }
    
    .block {
    margin-bottom: 40px;
    }
    
    .block ul {
    list-style: disc;
    margin-left: 20px;
    }
    
    /* Built for */
    .built-for {
    background: var(--light);
    padding: 80px 60px;
    }
    
    .features {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding: 0 auto;

    }
    
    /* FAQ */
    .faq {
    padding: 80px 60px;
    }

    .faq h2 {
        margin: 10px 10px 50px;
        padding: 60;
   
        text-align: center;
        font-size: 40px; 
    }
    
    .faq-item {
    margin-bottom: 30px;
    }
    
    /* Final CTA */
    .final-cta {
    background: var(--primary);
    color: white;
    padding: 80px 60px;
    text-align: center;
    }

    .design-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #10192e;
        min-height: 50vh;
        padding: 100px 0;
        font-family: Jost;
      }
      
      .design {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .timeline {
        width: 80%;
        height: auto;
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      
      .timeline-content {
        padding: 20px;
        background: #95a1ef;
        -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
                box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
        border-radius: 5px;
        color: white;
        padding: 1.75rem;
        transition: 0.4s ease;
        overflow-wrap: break-word !important;
        margin: 1rem;
        margin-bottom: 20px;
        border-radius: 6px;
      }
      
      .timeline-component {
        margin: 0px 20px 20px 20px;
      }
      
      @media screen and (min-width: 768px) {
        .timeline {
          display: grid;
          grid-template-columns: 1fr 3px 1fr;
        }
        .timeline-middle {
          position: relative;
          background-image: linear-gradient(45deg, #ffffff, #ffffff, #ffffff);
          width: 3px;
          height: 100%;
        }
        .main-middle {
          opacity: 0;
        }
        .timeline-circle {
          position: absolute;
          top: 0;
          left: 50%;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-image: linear-gradient(45deg, #95a1ef, #95a1ef, #95a1ef);
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
        }
        .design-section h4 {
            margin-bottom: 30px;
            text-align: center;  
            color: #ffffff;
            font-weight: 700;
            font-size: 40px;
        }

        
        @import url("https://fonts.googleapis.com/css?family=Lato");

        /* Global styles */
        * {
        margin: 20;
        padding: 0;
        box-sizing: border-box;
        }
        
        /* Tabs container */
        .tabs {
        width: end;
        list-style: none;
        position: relative;
        margin: 80px 0 0 10px;
        text-align: left;
        }
        
        /* Tabs list items */
        .tabs li {
        float: left;
        display: block;
        color: #ffffff;
        }
        
        /* Hide radio buttons */
        .tabs input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px;
        }
        
        /* Labels (tab headers) */
        .tabs label {
        display: block;
        padding: 14px 21px;
        border-radius: 2px 2px 0 0;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        background: #182951be;
        cursor: pointer;
        position: relative;
        top: 4px;
        transition: all 0.2s ease-in-out;
        }
        
        /* Hover effect  اخف*/
        .tabs label:hover {
        background-color: #182951d3;
        }
        
        /* Tab content     444ead     مع*/
        .tabs .tab-content {
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        font-size: 17px;
        color: #ffffff;
        line-height: 25px;
        padding: 25px;
        position: absolute;
        top: 53px;
        left: 0;
        background: #182951;
        }
        
        /* Active tab        مع*/
        .tabs [id^="tab"]:checked + label {
        top: 0;
        padding-top: 17px;
        background: #182951;
        }
        
        /* Show active content */
        .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
        display: block;
        }
        
        /* Footer link */
        p.link {
        clear: both;
        margin: 380px 0 0 15px;
        }
        
        p.link a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        margin: 0 5px;
        background-color: #6c3483;
        transition: all 0.2s ease-in;
        }
        
        p.link a:hover {
        background-color: #5b2c6f;
        }

        *,
*::before,
*::after {
  box-sizing: border-box;
}
p {
  margin: 0 0 13px 0;
}

a {
  color: #fff;
}

.center { text-align: center; }

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
    color: #10192e;
  font-size: 6vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #182951;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600;
  text-align: center;
  padding: auto;
  
}

.episode__content .story {
  line-height: 26px;
  text-align: justify;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}



input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 600px;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: rgba(4,57,94,.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: rgba(4,57,94,1);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4,57,94,1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: rgba(4,57,94,.7);
    font-size: 18px;
}
input:checked + .accordion-label {
    background: rgba(4,57,94,1);
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
.built-for h1 {
    font-size: 60px;
    margin: 300px 50px 30px 70px;
    font-style: var(--primary);
}
      }
      